<form action="{{ string.path }}" class="save" method="post">
    
    <div class="purge-g">
        <div class="pure-u-7-24">
            <div class="msgid">
                {{ string.msgid }}
            </div>
            {% if string.msgid_plural %}
                <div class="msgid plural">
                    {{ string.msgid_plural }}
                </div>
            {% endif %}

            {% if string.extractedComments.length %}
                <hr />

                <div class="msgnotes message message-orange">
                    {{ string.extractedComments }}
                </div>
            {% endif %}
        </div>
        <div class="pure-u-1-24 center">
            <a href="" id="copy-current"><img src="/assets/dev/img/editpaste.png" width="16" height="16" title="Copy the current text" /></a>
        </div>
        <div class="pure-u-15-24">
            <div id="editor-tools" style="display: none;">
                {% spaceless %}
                <a data-wysihtml5-command="bold" title="CTRL+B">bold</a>
                <a data-wysihtml5-command="italic" title="CTRL+I">italic</a>
                <a data-wysihtml5-action="change_view" class="right">html/text</a>
                {% endspaceless %}
            </div>

            {% for key, value in string.msgstr %}
                <div class="{% if string.msgstr.length > 1 %}has-plurals{% endif %} block-{{ key }}">
                    <textarea name="msgstr[]" autofocus>{{ value }}</textarea>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if string.saved %}
        <div class="spacer message message-green alert center">
            Changes saved!
        </div>
    {% else %}
        <div class="spacer right">
            <button class="button-warning pure-button">Update this translation</button>
        </div>
    {% endif %}

</form>