<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Translating to {{ trans.language }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Your app description" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="/assets/dev/css/app.css" />
    </head>
    <body>
        <ul id="strings" class="layout centered">
            {% for string in trans.strings %}
                <li id="{{ string.slug }}">
                    <div href="#{{ string.slug }}" class="pure-g link">
                        <div class="pure-u-11-24">
                            {{ string.msgid }}
                        </div>
                        <div class="pure-u-2-24"></div>
                        <div class="pure-u-11-24">
                            {{ string.msgstr.0 }}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div id="toolbar" style="display:none">
            <div id="editor" class="layout centered">

            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script data-main="/assets/dev/js/app.js" src="/assets/dev/js/vendor/require.js"></script>
    </body>
</html>